.testimonial_container {
    width: 40%;
}

.client_avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 2rem;
    user-select: none;
    text-align: center;
}

.client_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* RESPONSIF TABLET */
@media (max-width: 1024px) {
    .testimonial_container {
        width: 60%;
    }
}

/* RESPONSIF SMARTPHONE */
@media (max-width: 600px) {
    .testimonial_container {
        width: var(--container-width-sm);
    }

    .client_review {
        width: var(--container-width-sm);
    }
}